body{
    font-family: sans-serif;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://www.hdwallpapers.net/previews/starry-night-over-the-matterhorn-426.jpg);
    background-size:cover;
    color:antiquewhite;
    
}
*{
    border-radius: 20px;
}

.wrapper{
display:flex;
flex-flow: row wrap;
text-align: center;
}
.wrapper> * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%
 }

.header{  
    border: solid salmon;
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace
}
.header h1{
    font-size: 40px;
    font-weight: bold;
    animation: textAnimation 10s infinite;
}

@keyframes textAnimation {
    0% {
        transform: scale(0.6) translateY(0);
        color: #3498db;
        opacity: 1;
    }
    25% {
        transform: scale(0.8) translateY(-20px);
        color: #e74c3c;
        opacity: 0.8;
    }
    50% {
        transform: scale(1) translateY(0);
        color: #f39c12;
        opacity: 1;
    }
    75% {
        transform: scale(0.8) translateY(20px);
        color: #2ecc71;
        opacity: 0.8;
    }
    100% {
        transform: scale(0.6) translateY(0);
        color: #3498db;
        opacity: 1;
    }
}

.nav{
    height: 80px;
    border: solid salmon;
}
.footer{
    height: 80px;
    border: solid salmon;
}

.main{
    height: auto;    /*300px */
    padding:40px;
    font-size:20px;
    text-align: center;
    border: solid salmon;
}
.aside1{
    border: solid salmon;
    
}

@media all and (min-width: 800px){ 
    .main{
        flex:2;
    }
    .aside1{
        order:2;
    }
    .main{
        order:1;
    }
    .footer{
        order:4;
    }
@media all and (min-width: 600px){
    
    .aside1{
    flex:1;
}
}

}


.nav1{
    display: inline-block;
    border: 3px solid salmon;
    margin:10px;
    padding: 7px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: whitesmoke; /* Valfri färg på länkarna */
    transition: transform 0.3s ease;
    font-size: 17px;
}
.nav1:hover {
    transform: scale(1.21); /* Skala upp vid hover */
    color: red; /* Ändra färg vid hover så att det blir tydligt */
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}